.venv
vox1_test_wav
.idea
.vscode
.env*
ENV/
env/
*.iml
.mypy_cache/
.ruff_cache/
.pyright/

# ===== Python bytecode / cache =====
__pycache__/
*.py[cod]
*$py.class

# ===== Python build / packaging =====
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# ===== Logs =====
*.log

# ===== OS / Editor =====
.DS_Store
Thumbs.db

downloads/*
!downloads/.gitkeep

# ===== AI CLI ======
GEMINI.md
AGENTS.md